@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

body, html {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  height: 100%;
  background: hsl(234, 11%, 12%);
  transition: all .3s ease-in;
}

body.dark {
  background: hsl(234, 11%, 12%);
}

body.light {
  background: #fff;
}